{% extends 'base.html' %}
{% block content %}
<h1>Gobuster command generator</h1>
<form method="post">
    <div class="mb-3">
        <label for="target" class="form-label">Target: </label>
        <input type="text" class="form-control" id="target" name="target" value="{{ target }}" required>
    </div>
    <div class="mb-3">
        <label for="wordlist" class="form-label">Wordlist: </label>
        <input type="text" class="form-control" id="wordlist" name="wordlist" value="{{ wordlist }}">
    </div>
    <div class="mb-3">
        <label for="cookies" class="form-label">Cookies: </label>
        <input type="text" class="form-control" id="cookies" name="cookies" value="{{ cookies }}">
    </div>
    <div class="mb-3">
        <label for="extensions" class="form-label">Extension (ex: .txt, .bak, .zip): </label>
        <input type="text" class="form-control" id="extension" name="extension" value="{{ extensions }}">
    </div>
    <button type="submit" class="btn btn-primary">Generate</button>
    <div class="mb-3">
        <label for="command" class="form-label">Command: </label>
        <textarea class="form-control" id="command" name="command" rows=5>{{ command }}</textarea>
    </div>
</form>


{% endblock %}
