{% extends 'base.html' %}
{% block content %}
<h1>Gobuster command generator</h1>
<form method="post">
    <div class="mb-3">
        <label for="target" class="form-label">Target: </label>
        <input type="text" class="form-control" id="target" name="target" value="{{ target }}" required>
    </div>
    <div class="mb-3">
        <label for="wordlist" class="form-label">Wordlist: </label>
        <input type="text" class="form-control" id="wordlist" name="wordlist" value="{{ wordlist }}">
    </div>
    <div class="mb-3">
        <label for="cookies" class="form-label">Cookies: </label>
        <input type="text" class="form-control" id="cookies" name="cookies" value="{{ cookies }}">
    </div>
    <div class="mb-3">
        <label for="extensions" class="form-label">Extension (ex: .txt, .bak, .zip): </label>
        <input type="text" class="form-control" id="extension" name="extension" value="{{ extensions }}">
    </div>
    <div class="mb-3">
        <label for="nossl" class="form-label">No TLS Validation: </label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="nossl" id="enabled" value="enabled" required>
            <label class="form-check-label" for="enabled">Enabled</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="nossl" id="disabled" value="disabled" checked>
            <label class="form-check-label" for="disabled">Disabled</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" name="action" value="generate">Generate</button>
    <a href="{{ url_for('gobuster_info') }}" class="btn btn-primary float-end">Installation info</a>
    

    <div class="mb-3">
        <label for="command" class="form-label">Command: </label>
        <textarea class="form-control" id="command" name="command" rows=5>{{ command }}</textarea>
    </div>
    
</form>


{% endblock %}
