{% extends 'base.html' %}
{% block content %}
<h1>Command History</h1>
<form method="post">
    
    <div class="mb-3">

        <table class="table">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Command</th>
                  <th scope="col">Session</th>

                </tr>
              </thead>
              <tbody>
              </tbody>
              {% for command in command_history %}
              <tr>
                <th scope="row">{{ command.id }}</th>
                <td>{{ command.command }}</td>
                <td>{{ command.name }}</td>

              </tr>

              {% endfor %}    
        </table>
    </div>
    
</form>


{% endblock %}
