{% extends 'base.html' %}
{% block content %}
<h1>SQLMap command generator</h1>
<form method="post">
    <div class="mb-3">
        <label for="target" class="form-label">Target: </label>
        <input type="text" class="form-control" id="target" name="target" value="{{ data['target'] }}">
    </div>
    <div class="mb-3">
        <label for="requestfile" class="form-label">Request File: </label>
        <input type="text" class="form-control" id="requestfile" name="requestfile" value="{{ data['requestfile'] }}">
    </div>
   
    <div class="mb-3">
        <label for="postdata" class="form-label">Post Data: </label>
        <input type="text" class="form-control" id="postdata" name="postdata" value="{{ data['postdata'] }}">
    </div>

    <div class="mb-3">
        <label for="cookie" class="form-label">Cookie: </label>
        <input type="text" class="form-control" id="cookie" name="cookie" value="{{ data['cookie'] }}">
    </div>

    
    <div class="mb-3">
        <label for="proxy" class="form-label">Proxy: </label>
        <input type="text" class="form-control" id="proxy" name="proxy" value="{{ data['proxy'] }}">
    </div>
    <fieldset class="border p-3">
        <legend class="w-auto px-2">Options</legend>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <label class="form-check-label" for="random_agent">Random Agent</label>
                    <input class="form-check-input" type="checkbox" name="random_agent" id="random_agent" {% if data['random_agent'] %} checked {% endif %}>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <label class="form-check-label" for="tor">Tor</label>
                    <input class="form-check-input" type="checkbox" name="tor" id="tor" {% if data['tor'] %} checked {% endif %}>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <label class="form-check-label" for="batch">Batch</label>
                    <input class="form-check-input" type="checkbox" name="batch" id="batch" {% if data['batch'] %} checked {% endif %}>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <label class="form-check-label" for="forcessl">Force SSL</label>
                    <input class="form-check-input" type="checkbox" name="forcessl" id="forcessl" {% if data['forcessl'] %} checked {% endif %}>
                </div>
            </div>

        </div>
       

    </fieldset>
    <div class="mb-3">
        <label for="risk" class="form-label">Risk: </label>
        <select name="risk" class="form-select">
            <option value="1" {% if data['risk'] == "1" %}selected{% endif %}>1</option>
            <option value="2" {% if data['risk'] == "2" %}selected{% endif %}>2</option>
            <option value="3" {% if data['risk'] == "3" %}selected{% endif %}>3</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="level" class="form-label">Level: </label>
        <select name="level" class="form-select">
            <option value="1" {% if data['level'] == "1" %}selected{% endif %}>1</option>
            <option value="2" {% if data['level'] == "2" %}selected{% endif %}>2</option>
            <option value="3" {% if data['level'] == "3" %}selected{% endif %}>3</option>
            <option value="4" {% if data['level'] == "4" %}selected{% endif %}>4</option>
            <option value="5" {% if data['level'] == "5" %}selected{% endif %}>5</option>
        </select>
        
    </div>
    <button type="submit" class="btn btn-primary" name="action" value="generate">Generate</button>
    
    

    <div class="mb-3">
        <label for="command" class="form-label">Command: </label>
        <textarea class="form-control" id="command" name="command" rows=5>{{ data['command'] }}</textarea>
    </div>
    
</form>


{% endblock %}
